body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 253, 196);
}
h1{
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
     color: rgb(255, 255, 255);
}